<p [title]="user.age">my age:{{ user.age }}</p>

<input type="text" placeholder="Enter Name" [(ngModel)]="modelName" />
<button (click)="setName()">Set Name</button>

<button type="button" class="bg-red-400" (click)="increase()">+</button>
<span>Age: {{ user.age }}</span>
<button type="button" class="bg-red-400" (click)="decrease()">-</button>

<app-progress-bar [progress]="41" [backgroundColor]="'#9e9e9e'" [progressColor]="'#2e8b57'" />

<app-toggle #toggleCmp [(checked)]="isChecked">
  <h3 ngProjectAs=".header">header14</h3>
  <p class="footer">footer14</p>
  <p class="content">content14</p>
</app-toggle>

<app-toggle #toggleCmp [(checked)]="isChecked2">
  <h3 class="header">header1234</h3>
  <p ngProjectAs=".footer">footer1234</p>
  <p class="content">content1234</p>
</app-toggle>

<!-- Interact with component using #template -->
<!-- <button (click)="toggleCmp.toggle()">Toggle from Product</button> -->
<input #inputCmp placeholder="Focus_me" />
<app-flex-container flexDirection="row-reverse">
  <p>100</p>
  <p>200</p>
</app-flex-container>

@if (user.age > 40) {
  <span>Hello</span>
} @else {
  <span>too young</span>
}

<ng-container *ngTemplateOutlet="myTmpl"></ng-container>
<ng-container *ngTemplateOutlet="myTmpl2"></ng-container>

<ng-template #myTmpl>
  <p>This is my template</p>
</ng-template>

<ng-template #myTmpl2>
  <p>This is my template 2-2</p>
</ng-template>
