<article class="flex min-h-svh items-center justify-center">
  <form class="flex w-[450px] flex-col px-4" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <app-text-input
      [props]="{
        type: 'text',
        id: 'email',
        name: 'email',
        placeholder: 'Email',
        label: 'Email',
        autofocus: true,
        error: errorMessage().email
      }"
      formControlName="email"
    ></app-text-input>
    <app-text-input
      [props]="{
        type: 'password',
        id: 'password',
        name: 'password',
        placeholder: 'Password',
        label: 'Password'
      }"
      formControlName="password"
    ></app-text-input>
    <app-text-input
      [props]="{
        type: 'text',
        id: 'title',
        name: 'title',
        placeholder: 'Title',
        label: 'Title',
        error: errorMessage().title
      }"
      formControlName="title"
    ></app-text-input>

    <span nz-checkbox formControlName="rememberMe">Remember me?</span>

    <button nz-button nzType="primary" class="ml-auto" type="submit">Sign in</button>
    <button nz-button nzType="dashed" class="ml-auto" type="button" (click)="patchValue()">
      Patch Value
    </button>
    <button nz-button class="ant-btn--green ml-auto" type="button" (click)="setValue()">
      Set Value
    </button>

    <pre>{{ signInForm.value | json }}</pre>
  </form>
</article>
