<section>
  <form>
    <input type="text" placeholder="Filter by city" #filter />
    <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
  </form>

  <h1 appHighlight [highlightColor]="'yellow'" class="text-2xl font-bold underline">
    Hello world!
  </h1>

  <h2 class="text-xl text-red-400">hello</h2>

  <!-- Test with Signal -->

  <a class="text-2xl font-bold text-red-700 underline" routerLink="/articles">View Articles!</a>
</section>

<section class="results">
  @for (
    housingLocation of filteredLocationList$ | async;
    track housingLocation.id;
    let idx = $index, e = $even
  ) {
    <app-house-location [housingLocation]="housingLocation"></app-house-location>
  }
</section>

<div class="progress-container">
  <progress class="progress-bar" max="100" [value]="value()"></progress>
</div>
