<div class="mx-5">
  <app-tab-group [(activeIndex)]="currentIndex">
    <app-tab-panel title="First Tab"> First Tab Content </app-tab-panel>
    <app-tab-panel title="Second Tab"> Second Tab Content </app-tab-panel>
    <app-tab-panel title="Third Tab"> Third Tab Content </app-tab-panel>
  </app-tab-group>

  <app-tab-tw-group [(activeIndex)]="currentIndex">
    <app-tab-panel title="First Tab"> First Tab Content </app-tab-panel>
    <app-tab-panel title="Second Tab"> Second Tab Content </app-tab-panel>
    <app-tab-panel title="Third Tab"> Third Tab Content </app-tab-panel>
  </app-tab-tw-group>
</div>
